{% extends 'base.html' %}

{% block title %}Homepage - DoBookmarks{% endblock %}

{% block body %}
    <h1>Welcome to DoBookmarks. Now create your bookmarks here.</h1>
    <div class="mt-4"></div>

    <div class="alert border border-primary" role="alert">
        <div class="col-md-12 d-flex border-bottom p-2 justify-content-between">
            <span> Hello world, I am just a bookmark.</span>
            <button class="btn btn-outline border btn-sm" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
        </div>

        <div class="col-md-12 d-flex border-bottom p-2 justify-content-between">
            <span> Hello world, I am just a bookmark.</span>
            <button class="btn btn-outline border btn-sm" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
        </div>
    </div>
{% endblock %}